<%- include('partials/header'); %>

<div class="banner row">
    <h1>Titulo da pagina em destaque</h1>
    <h2>Subtitulo da pagina em destaque também</h2>
    <p>Descrição rápida</p>
</div>

<div class="row">
    <p>Coprpo de texto</p>
</div>

<div class="row">
    <!-- chamada para ação -->
</div>
<%- include('partials/footer'); %>
