<%- include('partials/header'); %>
<body class="brl-center-box brl-bg-gradient">
    
        <div class="card text-center shadow" style="max-width: 500px;">
            <img src="img/capa.jpg" class="card-img-top" alt="capa brltech">
            <div class="card-body">
                <h1 class="fs-2">Olá, você está na <span class="brl-color-1">BRLTech</span></h1>
                <p>Nosso site ainda está em desenvolvimento <i class="bi bi-code-slash"></i>. Mas fique a vontade para entrar em contato! <i class="bi bi-chat-left-dots"></i></p>
                <hr>
                <p><i class="bi bi-whatsapp"></i> (62) 9 9669-1186</p>
                <p><i class="bi bi-envelope"></i> contato@brltech.com.br</p>
            </div>
        </div>
    
</body>
<%- include('partials/footer'); %>
