<%- include('partials/header'); %>
<body class="brl-center-box_ml brl-bg-ml p-2 flex-column mb-4">
    <div style="max-width: 200px; margin: 20px 0 5px 0;" class="text-center">
        <img src="img/ml/logo_ml.png" alt="logo mercado livre" class="mx-auto d-block mb-4" style="width: 100%;">
        <p class="badge text-bg-dark">CHEGA ANTES DO NATAL</p>
    </div>
    <div class="brl-grid-ml" style="max-width: 800px;">
        <div class="card item shadow d-block" style="max-width: 200px;">
            <a href="https://mercadolivre.com/sec/26YkVNh">
                <img src="img/ml/PHILCO_4,4.png" class="rounded card-img-top" alt="capa brltech">
            </a>
        </div>
        <div class="card item shadow" style="max-width: 200px;">
            <a href="https://mercadolivre.com/sec/1cFdtpY">
                <img src="img/ml/MONDIAL_4.png" class="rounded card-img-top" alt="capa brltech">
            </a>
        </div>
        <div class="card item shadow" style="max-width: 200px;">
            <a href="https://mercadolivre.com/sec/2Cxc9E5">
                <img src="img/ml/PHILCO_5,5.png" class="rounded card-img-top" alt="capa brltech">
            </a>
        </div>
    </div>
</body>
<%- include('partials/footer'); %>
